@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  background: url("images/fur.jpg");
  background-size: cover;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h1, p {
    color: white;
}

#slogan {
	font-weight: bold;
}