
body {
  background: url("http://demandware.edgesuite.net/aamm_prd/on/demandware.static/-/Sites-joann-product-catalog/default/dwdd7e6085/images/hi-res/master/zprd_02304236a.jpg");
  background-size: cover;
  color: #fff;
  font-family: Helvetica;
}

h1, p {
    color: white;
}

#slogan {
	font-weight: bold;
}